@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    body {
        @apply text-base;
        color: rgb(var(--foreground-rgb));
        background: linear-gradient(to left, #f1b8d2bd, #95bbe9c9);
    }
}

@layer utilities {

    @responsive {
    
        @variants hover, focus {
    
            .text-gradient-primary {
                background: linear-gradient(252deg, #f1b8d2, #95bbe9);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        
            .text-gradient-primary-reverse {
                background: linear-gradient(252deg, #ef85b4, #5f9de9);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
        }

    }

}